@charset "UTF-8";

/*
    Paleta de cores
    Verde : #49a09d
    Lilás : #5f2c82
*/

* {
    margin: 0;
    padding:0 ;
    font-family: sans-serif;
}

html , body {
    
}

main {
   
}
section {
    
}


form {
   
}

#imagem {

}

#formulario {
    border: 1px solid black;
    
    
    
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

main > section > div > p {
    font-size: 0.8em;
    
}
main > section > div > h1 {
    text-align: center;
  
}

label {

    background-color: #5f2c82;
    color: white;
    border:10px solid #5f2c82;
    
    
    border-radius: 10px;
}

input.EeS {
    border-bottom: 1px solid #5f2c82;
    background-color: #94cfcd;
    margin: 5px;
}

input {
    background-color: #49a09df7;
    width: 60vw;
    height:30px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}
